<ion-view>

  <ion-content>

    <ion-list>


        <label class="item item-input">
          <input type="search" ng-model="filterService.filterText" ng-change="filterByText()" placeholder="Keresés..." ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }" />
          <i class="ion-android-search search-input-icon ion-icon button-icon"></i>
        </label>


    </ion-list>

    <ion-list ng-repeat="(groupName, events) in programEvents">

      <div class="item item-divider" delegate-handle="{{groupName}}">
        {{groupName}}
      </div>

      <ion-item ng-repeat="program in events" ui-sref="event({id : program.id})">
        <strong>
          {{program.date.start | date: 'HH:mm'}} {{ program.date.end ? ' - ' + (program.date.end | date: 'HH:mm') : '' }}
        </strong>
        <em ng-show="!filterService.isFilterByPlace()" class="item-note">
          {{program.placeName}}
        </em>
        <p>
          {{program.title}}
        </p>
      </ion-item>
    </ion-list>

    <ion-list ng-show="programEvents | empty">
      <ion-item align="center"><em>Nincs találat</em></ion-item>
    </ion-list>
  </ion-content>

</ion-view>
