  <ion-view>

    <ion-nav-buttons side="left">
      <button class="button buttons header-item" ng-click="back()">
        <i class="ion-arrow-left-c icon navicon"></i>
      </button>
    </ion-nav-buttons>

    <ion-content>

      <div class="list">

        <div class="item item-body">
          <strong>{{event.title}}</strong>
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-android-calendar"></i>
          Szept. {{event.date.start | date: 'dd. HH:mm'}} {{ event.date.end ? ' - ' + (event.date.end | date: 'HH:mm') : '' }}
        </div>
        <div class="item item-icon-left" ng-click="goToPlace(event.placeId)">
          <i class="icon ion-android-pin"></i>
          {{event.placeName}}
        </div>
        <div class="item item-body" ng-show="!!event.description">
          <p ng-bind-html="event.description">

          </p>
        </div>

      </div>

    </ion-content>
  </ion-view>
