<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar align-title="center" class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon ion-android-pin" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-calendar" menu-toggle="right">
        </button>
      </ion-nav-buttons>

      <ion-nav-title>{{titleService.get()}}</ion-nav-title>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar align-title="center" class="bar-light">
      <div class="row">
        <div class="col">
          <img src="img/icon.png" height="32" class="main-logo" />
        </div>
        <div class="col col-75">
          <h1 class="app-title">{{titleService.original}}</h1>
        </div>
      </div>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close
                  ng-class="{'item-stable' : titleService.get() == loc.name}"
                  ng-click="jumpToLocation(loc)"
                  ng-repeat="loc in Locations" href="#/app/location/{{loc.id}}">
          {{loc.name | menuplace}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right">
    <ion-header-bar align-title="center" class="bar-light">
      <h1 class="title">Időpontok</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <div class="item item-divider">
          Nap
        </div>
        <ion-radio name="day" ng-model="filterService.day"  ng-value="day.date" ng-class="{'item-calm' : titleService.get() == day.name}" ng-repeat="day in days">
          {{day.name}}
        </ion-radio>

        <div class="item item-divider">
          Napszak
        </div>
        <ion-radio name="interval" ng-model="filterService.dayInterval" ng-value="intervalId" ng-class="{'item-calm' : titleService.get() == day.name}" ng-repeat="(intervalId, interval) in dayIntervals">
          {{interval}}
        </ion-radio>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
